[Unit]
Description=Bell otomatis
After=network.target

[Service]
User=admin
WorkingDirectory=/home/admin/auto_bell
ExecStart=/usr/bin/python3 /home/admin/auto_bell/main.py -f /home/admin/Music/config.json
Restart=always

[Install]
WantedBy=multi-user.target