<html>
    <head>
        <title>Pengumuman</title>
    </head>
    <body>
        <form method="POST">
            <table>
                <tr>
                    <td>Pengumuman</td>
                    <td>:</td>
                    <td><input type="text" name="isi" id="isi"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td><input type="submit" name="kirim"></td>
                </tr>
            </table>
        </form>
    </body>
</html>